
#client-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background: var(--primary-color);
    gap: 1px;
}

#client-list > li {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 5fr 2fr 2fr 5fr;
    gap: 4px;
    padding: 9px 10px;
    background: #fff;
    align-items: center;
    cursor: pointer;
    transition: 0.2s background ease;
}

#client-list > li:hover {
    background: var(--primary-color-light);
}

#client-list > li > p {
    text-align: center;
    font-size: 1.6rem;
    font-weight: var(--bold);
    color: var(--black-color);
    transition: 0.2s color ease;
}

#client-list > li:hover > p {
    color: var(--primary-color-dark)
}

.client-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.client-controls > button {
    display: flex;
    align-items: center;
    gap: 5px;
    background: var(--primary-color);
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 5px;
    font-size: 1.6rem;
    font-weight: var(--bold);
    color: var(--primary-color-light);
    cursor: pointer;
    transition: 0.2s background ease;
}

.client-controls > button:hover {
    background: var(--primary-color-dark);
}