@{
}
<link rel="stylesheet" href="~/css/Clients.css" asp-append-version="true" />

<div class="clients-view">
    <h3>Clientes</h3>
    <section id="controls-section">
        <label>
            <span>Buscar</span>    
            <input type="text" placeholder="Buscar cliente"/>
        </label>
       
        <button>
            <span>a</span>
            Nuevo Cliente
        </button>
    </section>
    <section id="list-section"></section>
</div>