@using GestionClientesEntidades.Dto;
@model List<Client>

<link rel="stylesheet" href="~/css/Clients/ClientList.css" asp-append-version="true" />


@if(Model != null)
{
    <ul id="client-list">
        @foreach(Client client in Model)
        {
            <li onclick="openClientInfo(event)" id="@client.Id">
                <p class="clint-id">@client.ConsultantId</p>
                <p class="name">@client.Name</p>
                <p class="client-type">@client.ConsultantType</p>
                <p class="order-state">Sin pedidos</p>
                <div class="client-controls">
                    <button class="btn-new-client">
                        <span class="icon add-icon"></span>
                        Nuevo Pedido
                    </button>
                    <button class="btn-order-history">
                        <span class="icon history-icon"></span>
                        Historial
                    </button>
                </div>
            </li>
        }
    </ul>
}

