@model ClientOrdersModel


<section id="client-orders">
    <div id="orders-list">
        <header id="list-header">
            <span>Folio</span>
            <span>Monto</span>
            <span>Fecha</span>
            <span>Campaña</span>
            <span>Estado</span>
        </header>
        <div id="list-frame">
            a
        </div>
    </div>
    <div id="buttons-section">
        <button id="btn-new-order" onclick="openNewOrder()">
            <span class="icon add-order-icon"></span>
            Nuevo pedido
        </button>
    </div>
</section>