@using GestionClientesEntidades.Models;
@model Client
@{
    Layout = "../Shared/_Modal.cshtml";
}

<link rel="stylesheet" href="~/css/Clients/NewClientModal.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Clients/ClientForm.css" asp-append-version="true" />

<div class="new-client-modal">
    <header>
        <h1>
            Nuevo cliente
        </h1>
        <button class="btn-close" onclick="cerrarModal()">
            <span class="icon cross-icon"></span>
            Cerrar
        </button>
    </header>
    <div class="content">
        <partial name="~/views/Clients/_ClientDetail.cshtml" model="Model"></partial>
    </div>
</div>