<li class="product-item">
    <input type="text" id="key-input" class="product-input" form="order-form" required>
    <input type="text" id="description-input" class="product-input" form="order-form" required>
    <div id="quantity-controler">
        <div class="circle-div">
            <span class="icon minus-icon" onclick="quantitySustract(event)"></span>
        </div>
        <p id="quantity">1</p>
        <div class="circle-div">
            <span class="icon add-icon" onclick="quantityAdd(event)"></span>
        </div>
    </div>
    <div class="price-input-container">
        $
        <input 
            type="number" 
            id="price-input"
            class="product-input" 
            oninput="calcularTotal()"
            form="order-form" 
            step="any"
            required>
    </div>
    <span class="icon cross-icon"></span>
</li>

