<li class="product-item" tabindex="0" onfocus="itemFocus(event)" onblur="itemBlur(event)">
    <input type="text" id="key-input" class="product-input">
    <input type="text" id="description-input" class="product-input">
    <div id="quantity-controler">
        <div class="circle-div">
            <span class="icon minus-icon" onclick="quantitySustract()"></span>
        </div>
        <p id="quantity">1</p>
        <div class="circle-div">
            <span class="icon add-icon" onclick="quantityAdd()"></span>
        </div>
    </div>
    <input type="number" id="price-input" class="product-input">
    <span class="icon cross-icon"></span>
</li>

