
<ul id="order-list">
    <li>
        <p class="order-id">24510</p>
        <p class="client-name">Omar Enrique Romero Gomez</p>
        <p class="Amount">$540.67</p>
        <p class="date">27/10/2023</p>
        <p class="campaing">Campaña 5</p>
        <p class="state">Pendiente</p>
    </li>
    <li>
        <p class="order-id">24510</p>
        <p class="client-name">Omar Enrique Romero Gomez</p>
        <p class="Amount">$540.67</p>
        <p class="date">27/10/2023</p>
        <p class="campaing">Campaña 5</p>
        <p class="state">Pendiente</p>
    </li>
    <li>
        <p class="order-id">24510</p>
        <p class="client-name">Omar Enrique Romero Gomez</p>
        <p class="Amount">$540.67</p>
        <p class="date">27/10/2023</p>
        <p class="campaing">Campaña 5</p>
        <p class="state">Pendiente</p>
    </li>
    <li>
        <p class="order-id">24510</p>
        <p class="client-name">Omar Enrique Romero Gomez</p>
        <p class="Amount">$540.67</p>
        <p class="date">27/10/2023</p>
        <p class="campaing">Campaña 5</p>
        <p class="state">Pendiente</p>
    </li>
</ul>   
