@model OrdersListModel

<link rel="stylesheet" href="~/css/Orders/Orders.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Orders/OrderList.css" asp-append-version="true" />

<div class="orders-view">
    <h3>Pedidos</h3>
    <section id="controls-section">
        <label>
            <span class="icon search-icon"></span>
            <input id="search-order" type="text" placeholder="Buscar orden" oninput="buscarOrdenes(event)"/>
        </label>

        <button onclick="openNewOrder()">
            <span class="icon add-order-icon"></span>
            Nuevo pedido
        </button>
    </section>
    <section id="list-section">
        <header id="list-header">
            <span>Folio</span>
            <span>Cliente</span>
            <span>Monto</span>
            <span>Fecha</span>
            <span>Campaña</span>
            <span>Estado</span>
        </header>
        <div id="list-frame">
            <ul id="order-list">
                <partial name="~/Views/Orders/_OrderList.cshtml" for="@Model.Orders" />
            </ul>
        </div>
    </section>
</div>